body {
    padding-top: 56px;
}

@media (min-width: 768px) {
    body {
        padding-top: 76px;
    }
}


.container {
    margin-top: 20px;
}


.img-fluid {
    max-width: 100%;
    height: auto;
}
